<table class="{{class}}">
	<tr>
		{{#each items}}
			<td class="item">
				<table>
					<tr>
						<td class="title">{{title}}</td>
					</tr>
					<tr>
						<td class="image"><img src="{{image}}" alt=""></td>
					</tr>
					<tr>
						<td class="copy">{{copy}}</td>
					</tr>
				</table>
			</td>
		{{/each}}
	</tr>
</table>